{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section mt-5 box-effect p-4 pt-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }}
            </fieldset>
               
            
            <div class="form-group">
                <button class="btn box-effect update-button" type="submit">Add comment</button>
            </div>
        </form>
    </div>
{% endblock content %}
