{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sensive Blog - Home</title>
	<!-- <link rel="icon" href="img/Fevicon.png" type="image/png"> -->

  <link rel="stylesheet" href="{% static 'blog/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item active"><a class="nav-link" href="{% url 'blog-home' %}">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'blog-about' %}">About</a></li> 
              {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'post-create' %}">New Post</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-social">
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
              <li><a href="#"><i class="ti-skype"></i></a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'blog/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'blog/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'blog/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'blog/js/mail-script.js' %}"></script>
    <script src="{% static 'blog/js/main.js' %}"></script>
 </body>
</html>
