{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tech-Hub - Blog</title>
	<!-- <link rel="icon" href="img/Fevicon.png" type="image/png"> -->

  <link rel="stylesheet" href="{% static 'blog/vendors/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/fontawesome/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/themify-icons/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/linericon/style.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'blog/vendors/owl-carousel/owl.carousel.min.css' %}">

  <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
  <!--================Header Menu Area =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="{% url 'blog-home' %}">Tech Hub</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-center">
              <li class="nav-item active"><a class="nav-link" href="{% url 'blog-home' %}">Home</a></li> 
              <li class="nav-item"><a class="nav-link" href="{% url 'blog-about' %}">About</a></li> 
              {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{% url 'post-create' %}">New Post</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
          


            <form target="_blank" novalidate="true" action="{% url 'search-page' %}"
            method="get" class="form-inline">
            {% csrf_token %}
            <div class="d-flex flex-row">

              <input class="form-control mr-sm-2" type="search" placeholder="Search Author" aria-label="Search" name="searched">


              <button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

              
            </div>
            <div class="info"></div>
          </form>
          </div> 
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>

    
 </body>
</html>
