{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <br>
  <article class="media content-section mt-5 box-effect p-5">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div class="update-button">
            <a class="btn box-effect btn-sm mt-1 mb-1 " href="{% url 'post-update' object.id %}" style="color: black;">Update</a>
            <a class="btn box-effect btn-sm mt-1 mb-1 " href="{% url 'post-delete' object.id %}" style="color: black;">Delete</a>
          </div>
        {% endif %}
      </div>
      <img class="rounded-circle article-img" src="{{ object.image.url }}">
      <h2 class="article-title p-2 mt-1 mb-3">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
      <div class="d-inline-flex p-2">
        {% if user.is_authenticated %}
       
            <form action="{% url 'like-post' post.pk %}" method="post">
                {% csrf_token %}
                {% if user in post.likes.all %}
                    <button type="submit" class="btn box-effect"> <i class="fa fa-thumbs-up"></i></button>
                    
                {% else %}
                    <button type="submit" class="btn box-effect"> <i class="fa fa-thumbs-up"></i></button> 
                    
                {% endif %}
            </form>
         <p class="ml-2 pt-2"> {{ post.likes.count }} Likes</p>
         
        {% endif %}
    </div>
    <div class="card-body">
      {% if new_comment %}
      <div class="alert alert-success" role="alert">
        Your comment is awaiting moderation
      </div>
      {% else %}
      <h3><a href="{% url 'user-comment' post.id%}"> Leave a comment</h3></a>
      
      {% endif %}
    </div>
    
    </form>
    
                {% if not post.comments.all %}
                    <hr>
                    
                    <p>No comments </p>
                {% else %}
                    <hr>
                    {% for comment in post.comments.all %}
                    <strong>{{comment.user}}-{{comment.date_posted}}</strong>
                    <p>{{comment.comment_body}}</p>
                    {% endfor %}
                {% endif %} 
               
               
     
  </article>
{% endblock content %}
