{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- <div class="content-section"> -->
    {% if searched %}
   <!-- blog/search_user.html -->
<div class="content-section">
   <div class="flex-container pb-6">
    {% for post in posts %}
      <div class="media content-section">
        <img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ post.author }}</h2>
          <p class="text-secondary">{{ post.author.email }}</p>
          <p class="text-secondary">{{ post.content }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
  
    {% else %}
          <p>you r not searched</p>
    {% endif %}  
      <!-- </div> -->
      <!-- {% if searched %}
           <p>you searched</p>{{ searched }}
           {% for post in posts %}
           <br>
              {{ post.author }}
           {% endfor %}
      {% else %}
          <p>you r not searched</p>
      {% endif %} -->
{% endblock content %}