{% extends "blog/base.html" %}
{% block content %}
   
    
     <h1>Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
     
    {% for post in posts %}
         
    <section class="blog-post-area section-margin mt-4">
      <div class="container ">
        <div class="row ">
          <div class="col-lg-12">
            <div class="single-recent-blog-post">
              <div class="thumb">
                <img class="img-fluid" src="{{ post.image.url }}" alt="">
                <ul class="thumb-info d-inline-flex">
                  <li><a href="{% url 'user-posts' post.author.username %}"><i class="ti-user"></i>{{ post.author }}</a></li>
                  <li><a href="#"><i class="ti-notepad"></i>{{ post.date_posted|date:"F d, Y" }}</a></li>
                  {% if user.is_authenticated %}
           
                <form action="{% url 'like-post' post.pk %}" method="post">
                    {% csrf_token %}
                    {% if user in post.likes.all %}
                        <button type="submit" class="btn box-effect mt-2" style="background-color: white;"> <i class="ti-heart"></i></button>
                        
                    {% else %}
                        <button type="submit" class="btn box-effect mt-2" style="background-color: white;"> <i class="ti-heart"></i></button> 
                        
                    {% endif %}
                </form>
             <p class=" mt-2 pt-1"> {{ post.likes.count }} Likes</p>
             
            {% endif %}
            <li><a href="{% url 'user-comment' post.id %}" class="ml-3"><i class="ti-themify-favicon"></i></a></li>
          </ul>
              </div>
              <div class="details mt-20">
                <a href="{% url 'post-detail' post.id %}">
                  <h3> {{ post.title }}</h3>
                </a>
                
                <p>{{ post.content }}</p>
                <a class="button" href="{% url 'post-detail' post.id %}">Read More <i class="ti-arrow-right"></i></a>
              </div>
            </div>
          </div>
        </div>
    
            {% endfor %}
            
        
            {% if is_paginated %}
    
              
        
            <div class="row">
              <div class="col-lg-12">
                  <nav class="blog-pagination justify-content-center d-flex">
                    
    
                    {% if page_obj.has_previous %}
                      <a class="btn btn-outline-info mb-4 m-1" href="?page=1">First</a>
                      <a class="btn btn-outline-info mb-4 m-1" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
              
                    {% for num in page_obj.paginator.page_range %}
                      {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4 m-1" href="?page={{ num }}">{{ num }}</a>
                      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4 m-1" href="?page={{ num }}">{{ num }}</a>
                      {% endif %}
                    {% endfor %}
              
                    {% if page_obj.has_next %}
                      <a class="btn btn-outline-info mb-4 m-1" href="?page={{ page_obj.next_page_number }}">Next</a>
                      <a class="btn btn-outline-info mb-4 m-1" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
              
                  
                  </nav>
              </div>
            </div>
          </div>
        
          {% endif %}
          
    </section>  
     
{% endblock content %}
